body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hello {
  color: red;
}

.outerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleBox {
  background-color: red;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  padding-left: 5px;
border-bottom: dashed;
border-bottom: black;
}

.account-data {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.SingleRequest {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.requests {
  margin: 1px;
}
.donationAddress {
  border-style: solid;
  border-width: 1px;
  border-color: red;
  font-size: .3em;
  padding: 2px;
  margin-bottom: 3px;
}

.donationRequested {
  background: red;
  color: black
}

.SingleRequest-card-1 {
  -webkit-box-shadow: 0px 2px 34px -1px rgba(0,0,0,0.26);
-moz-box-shadow: 0px 2px 34px -1px rgba(0,0,0,0.26);
box-shadow: 0px 2px 34px -1px rgba(0,0,0,0.26);
}

.uploadedImage {
  border-radius: 30px;
  max-width: 250px;
}